.Web .WebProjects {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Web .WebProjects .WebProject {
  width: 100%;
}
.Web .WebProjects .WebProject h2 {
  margin-bottom: 10px;
}
.Web .WebProjects .WebProject h2 .link {
  position: relative;
  top: 13px;
  width: 40px;
  margin: 0 10px;
}
.Web .WebProjects .WebProject h2:hover img {
  opacity: 0.5;
}
.Web .WebProjects .WebProject h5 {
  text-align: right;
}
.Web .WebProjects .WebProject .demo {
  width: 100%;
  height: 62.5%;
  background: rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 768px) {
  .Web .WebProjects .WebProject h2 .link {
    top: 6px;
    width: 20px;
  }
}
