$pink-transparent: rgba(250,218,234,0.9);
$icon-width: 50px;
$icon-margin: 20px;
$icon-width-mobile: 40px;
$icon-margin-mobile: 5px;

#splash {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: -5;
  overflow: hidden;
}

.About {
  background: $pink-transparent;

  .icon-container {
    display: flex;
    justify-content: center;

    width: 100%;
  }
  .icon {
    width: $icon-width;

    margin: $icon-margin;
  }
}

/*RESPONSIVE*/
@media only screen and (max-width: 768px) {
  .About {
    .icon-container {
      // display: flex;
      // justify-content: center;
      // width: 100%;
    }
    .icon {
      width: $icon-width-mobile;
      margin: $icon-margin-mobile;
    }
  }
}
