$blue: #2a4afa;
$blue-transparent: rgba(42,74,250,0.5);
$pink: #fadaea;
$content-width: 60vw;

$content-width-mobile: 80vw;

body {
  background: #fadaea;
  margin: 0;
  padding: 0;
}

.App {
  margin-top: 100px;

  color: $blue;
  text-align: justify;
  font: {
    size: xx-large;
    family: monospace;
    weight: bold;
  }
  a {
    color: inherit;
    text-decoration-style: wavy;
    &:hover {
      opacity: 0.5;
      color: $blue-transparent;
    }
  }

  h1 {
    text-align: center;
  }

  div.page {
    padding: 5vw;

    width: $content-width;
    margin: 0 auto 10vh;
  }
}

/*RESPONSIVE*/
@media only screen and (max-width: 768px) {
  .App {
    // margin-top: 100px;
    //
    // color: $blue;
    // text-align: justify;
    font: {
      size: large;
    //   family: monospace;
    //   weight: bold;
    }
    a {
      // color: inherit;
      // text-decoration-style: wavy;
      &:hover {
        // opacity: 0.5;
        // color: $blue-transparent;
      }
    }
    h1 {
      // text-align: center;
    }
    div.page {
      width: $content-width-mobile;
    }
  }

}
