$blue: #2a4afa;

.Nav {
  position: fixed;
  z-index: 2;

  top: 12px;
  // right: 0;
  width: 100%;

  text-align: right;

  .NavLink {
    // width: 100px;
    padding: 12px;
    margin: 0 6px 6px;
    background: $blue;
    text-decoration: none;
    color: white;
    font-size: xx-large;

    &:hover {
      background: pink;
      color: white;
    }

    &#home {
      text-align: left; // MAKE THIS SEPARATE - USE FLEX?
    }
  }
  .ActiveNavLink {
    background: white;
    color: $blue;
  }
}

/*RESPONSIVE*/
@media only screen and (max-width: 768px) {

  .Nav {
    top: 6px;
    text-align: center;

    .NavLink {
      padding: 6px;
      margin: 0 3px 3px;
      font-size: x-large;

      &:hover {
      }

      &#home { // MAKE THIS SEPARATE - USE FLEX?
      }
    }
    .ActiveNavLink {
    }
  }
}
