$robot-bg: 'https://s3.amazonaws.com/yapjinai/visual/photography/robot/bg.png';
$agoraphobia-bg: 'https://s3.amazonaws.com/yapjinai/visual/photography/agoraphobia/bg.png';
$barb-bg: 'https://s3.amazonaws.com/yapjinai/visual/photography/barb/bg.jpg';
.Visual {
  .PhotoSets {
    display: flex;
    flex-direction: column;
    // align-items: center;

    .PhotoSet {
      text-align: center;
      color: white;
    	background: {
        repeat: no-repeat;
        size: cover;
      }

      .Photos {
        display: grid;

        .Photo {
        	// display: block;
        	margin: 10vh auto;

          img {
            // width: 100%;
            // height: 100%;
            	max-width: 80vw;
            	max-height: 80vh;
          }
        }
      }

      &#robot {
        background-image: url($robot-bg);
      }

      &#agoraphobia {
        background-image: url($agoraphobia-bg);
      }

      &#barb {
        background-image: url($barb-bg);
      }
    }
  }
}
