$blue-transparent: rgba(42,74,250,0.3);

$robot-bg: 'https://s3.amazonaws.com/yapjinai/visual/photography/robot/bg.png';
$agoraphobia-bg: 'https://s3.amazonaws.com/yapjinai/visual/photography/agoraphobia/bg.png';
$barb-bg: 'https://s3.amazonaws.com/yapjinai/visual/photography/barb/bg.jpg';

$menu-item-width: 20vw;
$menu-item-height: $menu-item-width * 1.77;

$robot-icon: 'https://s3.amazonaws.com/yapjinai/visual/photography/robot/icon.jpg';
$agoraphobia-icon: 'https://s3.amazonaws.com/yapjinai/visual/photography/agoraphobia/icon.png';
$barb-icon: 'https://s3.amazonaws.com/yapjinai/visual/photography/barb/icon.jpg';

.Visual {
  .Menu {
    background: $blue-transparent; // pink;
    padding: 5vh 0;

    display: flex;
    justify-content: space-evenly;
    .MenuItem {
      display: flex;
      flex-direction: column;
      justify-content: center;

      width: $menu-item-width;
      height: $menu-item-height;

      background-size: cover;

      &.robot {
        background-image: url($robot-icon);
      }
      &.agoraphobia {
        background-image: url($agoraphobia-icon);
      }
      &.barb {
        background-image: url($barb-icon);
      }

      // text
      color: white;
      text: {
        decoration: underline;
        align: center;
      }
      font: {
        family: georgia;
        style: italic;
      }
      text: {
        transform: uppercase;
      }
      word-break: break-word;
      hyphens: auto;
    }
  }

  .PhotoSets {
    display: flex;
    flex-direction: column;
    // align-items: center;

    .PhotoSet {
      background: {
        repeat: no-repeat;
        size: cover;
      }

      h2 {
        padding-top: 10vh;
        text: {
          transform: uppercase;
        }
      }
      h2, p {
        text: {
          align: center;
        }
        color: white;
        font: {
          family: georgia;
          style: italic;
        }
      }
      p {
        font-size: medium;
        a {
          text-decoration: none;
        }
      }

      .Photos {
        display: flex;
        flex-direction: column;

        .Photo {
        	margin: 0 auto;
          padding: 10vh 0;

          img {
            max-width: 80vw;
            max-height: 80vh;
            // display: block;
          }

          &.row {
            width: 80vw;
            display: flex;
            // flex-direction: column; // FOR MEDIA QUERY - MOBILE
            justify-content: space-evenly;
            img {
              // max-width: 100%;
              // max-height: 80vh;
            }
          }
        }
      }

      &#robot {
        background-image: url($robot-bg);
      }

      &#agoraphobia {
        background-image: url($agoraphobia-bg);
      }

      &#barb {
        background-image: url($barb-bg);
      }
    }
  }
}

/*RESPONSIVE*/
@media only screen and (max-width: 1024px) {
  .Visual {
    .Menu {
      padding: 0;
      flex-direction: column;

      .MenuItem {
        width: 100%;
        height: 30vh;

        background-position: center;
      }
    }

    .PhotoSets {
      .PhotoSet {
        .Photos {
          .Photo {
            &.row {
              display: inline;
              padding: 0;
              text-align: center;
              img {
                padding: 10vh 0;
                height: auto;
              }
            }
          }
        }
      }
    }
  }
}
