$robot-bg: 'https://s3.amazonaws.com/yapjinai/visual/photography/robot/bg.png';
$agoraphobia-bg: 'https://s3.amazonaws.com/yapjinai/visual/photography/agoraphobia/bg.png';
$barb-bg: 'https://s3.amazonaws.com/yapjinai/visual/photography/barb/bg.jpg';
.Visual {
  .PhotoSets {
    display: flex;
    flex-direction: column;
    // align-items: center;

    .PhotoSet {
      background: {
        repeat: no-repeat;
        size: cover;
      }

      h2 {
        padding-top: 10vh;

        text-align: center;
        color: white;
        font: {
          family: georgia;
          style: italic;
        }
        text: {
          transform: uppercase;
        }
      }

      .Photos {
        display: flex;
        flex-direction: column;

        .Photo {
        	margin: 0 auto;
          padding: 10vh 0;

          img {
            max-width: 80vw;
            max-height: 80vh;
            // display: block;
            // height: auto;
          }

          &.row {
            width: 80vw;
            display: flex;
            // flex-direction: column; // FOR MEDIA QUERY - MOBILE
            justify-content: space-evenly;

          }
        }
      }

      &#robot {
        background-image: url($robot-bg);
      }

      &#agoraphobia {
        background-image: url($agoraphobia-bg);
      }

      &#barb {
        background-image: url($barb-bg);
      }
    }
  }
}
