$content-width: 100%;
$content-height: 0.625 * $content-width;

.Web {
  .WebProjects {
    display: flex;
    flex-direction: column;
    align-items: center;

    .WebProject {
      width: 100%;
      margin: 5%;

      h2 {
        display: inline;

        .link {
          position: relative;
          top: 13px;

          width: 40px;
          margin: 0 10px;
        }

        &:hover img {
          opacity: 0.5;
        }
      }
      h5 {
        text-align: right;
      }

      .demo {
        width: $content-width;
        height: $content-height;
        background: rgba(0,0,0,0.2);
      }
    }
  }
}
/*RESPONSIVE*/
@media only screen and (max-width: 768px) {
  .Web {
    .WebProjects {
      .WebProject {
        h2 {
          .link {
            top: 6px;
            width: 20px;
          }
          &:hover img {
          }
        }
        .demo {
        }
      }
    }
  }
}
